*{
    margin: 0;
    padding: 0;
}
body{
     width: 100vw;
     height: 100vh;
     display: flex;
     justify-content:center;
     align-items: center;
     flex-direction: column;
}
.box{
    width: 80px;
    border: 2px solid black;
    text-align: center;
    margin: 2px;
    padding: 5px;
    border-radius: 6px;
}